base-color = #181f24

secondary-color = #eaf6f9

tertiary-color = #9ACD32

text-color = #555

*
	box-sizing border-box

html
	font-size 16px
	user-select none

@media screen and (min-width: 1000px)
	html
		font-size 20px
	.player
		dislay flex
